.booking-div{
    z-index: none;
    display: flex;
    flex-direction: column;
    position: relative;
}
.booking-modal {
    padding: 1rem;
}
.booking-modal > h2 {
    margin-bottom: .5rem;
}
.booking-modal > h4 {
    margin-bottom: 1rem;
}
.booking-img{
    width: 200px;
    aspect-ratio: 1;
    object-fit: cover;
}
.edit-booking-div {
    padding: 2rem;
    /* background-color: #747474; */
    display: flex;
    flex-direction: column;
}
.edit-booking-div button {
    border-radius: 0;
}
.edit-booking-div > h3 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: black;
}
.edit-booking-div * {
    margin-bottom: .75rem;
}
.spots-to-book {
    color: black;
    text-align: center;
}
.spots-to-book:hover {
    color: white;
}
.your-spot-bookings {
    list-style: none;
    margin-bottom: 1rem;
}
.date-pickers > div {
    /* background-color: pink; */
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}
.successful-delete-modal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.close-delete-modal {
    /* color: green !important; */
    width: fit-content !important;
    padding: 0 .5rem;
    margin-bottom: .5rem;
}
.book-me-button {
    background-color: #0A0708;
    box-shadow: 2px 2px 1px black;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    color: white;
}
.book-me-button:hover {
    cursor: pointer;
    background-color: #444444;
}
.successful-booking {
    position: absolute;
    background-color: #ffffff;
    top: 10rem;
    padding: .25rem;
    border-radius: 1rem;
}

.bookings-list > div {
    /* background-color: green; */
    display: flex;
    /* border: 1px solid #747474; */
    padding: .5rem;
    margin-bottom: .5rem;
    justify-content: space-around;
    align-items: center;
}

.edit-delete-button {
    color: white;
    background-color: black;
    box-shadow: 2px 2px 1px black;
    padding: .25rem;
    /* display: flex; */
}
.edit-delete-button:hover {
    cursor: pointer;
    background-color: #444444;
}
.bookings-dates {

}
.edit-delete-booking-button {
    margin: .25rem;
    margin-left: 0;
    padding: .25rem;
    margin-right: 1rem;

    width: max-content;
}
.anther-name {
    display: flex;
}
.success-booking-update {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.success-booking-update * {
    text-align: center;
    margin-bottom: .75rem;
}

.close {
    border: 1px solid #444444;
    background: #747474;
    width: max-content;
    text-align: center;
    padding: .25rem;
}
.close:hover {
    background: #444444;
    cursor: pointer;
}
.booking-delete{
    padding: 1rem;
    text-align: center;
}
.my-bookings-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
.my-bookings-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
.view-spots {
    margin-top: 2rem;
    text-align: center;
}
.booking-li {
    text-decoration: none;
    list-style: none;
    border: 1px solid black;
    margin-top: 1rem;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booking-spot-name{
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.my-booking-start-date {
    margin-right: 1rem;
}
.my-booking-dates {
    margin: 1rem 0;
}

.user-bookings-list h2{
    text-align: center;
}
