.spots__list {
    width: 100%;
    display: flex;
    /* justify-content: space-around;    */
    flex-wrap: wrap;
}

.cost-update-delete-div {
    display: flex;
    justify-content: space-between;
    margin: 0 0;
}

.update-delete-div {
    display: flex;
    align-items: center;
}