.spots__list {
    width: 100%;
    display: flex;
    /* justify-content: space-around;    */
    flex-wrap: wrap;
}
.spot-card {
    min-width: 250px;
    /* border: 1px solid black; */
    margin: 0 4%;
    margin-bottom: 20px;
}
.spot-card:hover{
    cursor: pointer;
}
.spot-card a {
    width: 100%;
    /* border: 1px dotted green; */
    /* height: 100%; */
    display: flex;
}
.spot-card img {
    /* border: 1px solid blue; */
    width: 250px;
    height: 270px;
    display: flex;
    object-fit: fill;
    border-radius: 5%;
}

.cost-update-delete-div {
    display: flex;
    justify-content: space-between;
    margin: 0 0;
}

.update-delete-div {
    display: flex;
    align-items: center;
}
.spot-card-text {
    display: flex;
    justify-content: space-between;
}
