.main-spot-container-div {
    display: flex;
    /* border: 1px solid purple; */
    margin: 0 2%;
    justify-content: center;
}

img {
    /* object-fit: contain; */
    height: 250px;
}

body {
    margin: 0;
}


.cost-update-delete-div {
    font-size: 14px;
}
.spots__listsss {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}