/* #root {
    background-color: grey;
} */
html{background-color: grey;}
.hidden {
    display: none;
}
.profile-dropdown {
    position: absolute;
    top: 75px;
    background: white;
    padding-inline-start: 0;
    list-style-type: none;
    /* width: 125px; */
    border: 1px solid black;
    padding-bottom: 5px;
}
ul {
    list-style-type: none;
}
.profile-dropdown * {
    border: 1px solid black;
    /* background-color: red; */
}
/* .profile-dropdown ul {
    display: none;
    background-color: green;
} */

.header {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    /* width: 100vw; */
}

/* .header ul {
    display: flex;
    background-color: green;
} */
.nav-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-button{
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
}
.profile-button li{
    /* margin: 3px; */
    /* background-color: blue; */
    position: relative;
    display: flex;
    /* top: 25px; */
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 15px;
    border: 0;
}

.profile-button li:hover{
    cursor: pointer;
    background-color: rgba(0, 255, 0, .5);
}
.profile-button > button {
    height: 40px;
    width: 75px;
    border-radius: 40%;
}
.profile-section {
    display: flex;
    margin-right: 2%;
}
.add-spot {
    margin-right: 3%;
    /* border: 1px solid blue; */
    width: 175px;
    display: flex;
}
.add-a-spot-div {
    display: flex;
    align-items: center;
}
.add-a-spot-div * {
    color: rgb(128, 0, 0);
    text-decoration: none;
}
.fas {
    /* font-size: 25px; */
}

.fa-bars {
    margin-right: 10px;
}

#logout-button-li {
    padding: 0;
    display: flex;
    justify-content: center;
    height: 35px;
}
#logout-button-li:hover{
    cursor: default;
    background-color: white;
}
#logout-button-li > button {
    font-size: 15px;
    background-color: grey;
    color: white;
    margin: 2px 0px;
    border-radius: 20%;
    cursor: pointer;
}
#logout-button-li>button:hover{
    cursor: pointer;
    background-color: red;
}
.manage-spots {
    color: black;
    text-decoration: none;
    border: none;
}

#hello-user:hover, #user-email:hover{
    background-color: white;
    cursor: default;
}

#site-icon-div {
    height: 50px;
    display: flex;
}
#site-icon-img {
    object-fit: contain;
    height: 50px
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.spot-reviews {
    display: flex;
    flex-direction: column-reverse;
    padding-inline-start: 0;
}

.spot-reviews li {
    margin: 10px 0px;
}

.delete-button {
    background-color: rgb(198, 105, 105);
    box-shadow: 2px 2px 1px black;
    height: 25px;
    display: flex;
    align-items: center;
    /* width: 95%; */
    color: white;
}
.edit-button {
background-color: rgb(198, 105, 105);
    box-shadow: 2px 2px 1px black;
    height: 25px;
    display: flex;
    align-items: center;
    width: 95%;
    color: white;
}
.post-review-button {
    background-color: rgb(198, 105, 105);
    box-shadow: 2px 2px 1px black;
    height: 25px;
    display: flex;
    align-items: center;
    color: white;
    list-style: none;
    margin-bottom: 10px;

}
.above-post-review {
    display: flex;
    font-size: 22px;
    margin: 10px 0;
}

.review-date {
    margin: 5px 0;
}

.reviewer-name {
    font-size: 15px;
    font-weight: bold;
}

.manage-spots-h1 {
    text-align: center;
}
