/* .login-form {
    height: 600px;
    width: 400px;
    border: 1px solid black;
} */
.demo-user {
    border: 1px solid #444444;
    padding: 0.5rem;
    width: max-content;
    text-decoration: underline;
    border-radius: 0.5rem;
    background: #444444;
    margin-bottom: 0.5rem;
}
.demo-user:hover{
    cursor: pointer;
    background: #747474;
    color: white;
}
.p-wrapper {
    display: flex;
    justify-content: center;
}
